<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>esm版本vue</title>
</head>

<body>
  <div id="app">
    {{title}}

    <hr>
    <!-- 自动重连的websocket封装 -->
    <input type="text" v-model="chatInfo.info">
    <button @click="send">发送</button>
    <div>
      <div v-for="d in infos">
        {{d}}
      </div>
    </div>

  </div>

  <script type="module" src="js/demo02.js"></script>

  <script>
    // 目标：封装ajax
    // 需要api的url,api的参数，api的请求方式，应答的处理function
    function ajax(uri, param, method, cb) {

    }


  </script>
</body>

</html>